@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

p {
  font-family: var(--font-inter);
}

button {
  font-family: var(--font-roboto);
}
